graph/graphcode.txt
tree.png
tests
tests/test_union.cpp
graph/operations
graph/diff_operations
tests/test_union.cpp
expression.png
differentiated_expression.png
graph/graphcode.txt
log/diff_log.log
log/pars_test.log
graph/graph
graph/graphcode
data/expression_to_diff.txt
bin
build
differentiator.log
old_differ
.gitignore
tree_graphics
logging